<div>
    <div id="Title_wrapper"><span>The Raiders Blog</span></div>
    <div id="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/about">About</a></span>
        <span><a href="/blog">Blog</a></span>
        <span><a href="/contact">Contact Us</a></span>
    </div>
</div>