<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar') %>
    <main>
        <h1>Welcome to My Website</h1>
    </main>
    <script src="index.js"></script>
</body>
<%- include('./partials/footer') %>
</html>
